@model StackFaceSystem.Web.ViewModels.Posts.CommentsPerAnswerViewModel
<div class="panel-body">
    <div class="col-md-2">
        <div class="forum-well text-center">
            <div data-id="@Model.Id" data-action="up" data-subject="comment"><i class="glyphicon glyphicon-thumbs-up"></i></div>
            <div class="row" data-id="@Model.Id" data-subject="comment" data-action="votesCount">@Model.VotesSum</div>
            <div data-id="@Model.Id" data-action="down" data-subject="comment"><i class="glyphicon glyphicon-thumbs-down"></i></div>
        </div>
    </div>
    <div class="col-md-10">
        <p>@Model.SanitizedContent</p>
        <div class="row post-info note">
            <hr class="post-info" />
            <span class="pull-left">
                before @Html.DisplayFor(x => x.CreatedOn) author <a href="#">@Model.Author</a>
            </span>
        </div>
        <hr class="post-info" />
    </div>
</div>