@model StackFaceSystem.Web.ViewModels.Posts.DetailsPostWithPagableAnswersViewModel
<hr class="style" />
<h1 data-post-id="@Model.Post.EncodedId" style="display:none"></h1>
<h3>@Model.Post.Title</h3>
<hr class="style" />

<div class="well">
    <div class="row">
        <div class="col-md-2">
            <div class="forum-well text-center">
                <div data-id="@Model.Post.Id" data-action="up" data-subject="post"><i class="glyphicon glyphicon-thumbs-up"></i></div>
                <div class="row" data-id="@Model.Post.Id" data-subject="post" data-action="votesCount">@Model.Post.VotesSum</div>
                <div data-id="@Model.Post.Id" data-action="down" data-subject="post"><i class="glyphicon glyphicon-thumbs-down"></i></div>
            </div>
        </div>

        <div class="col-md-10">
            <p>@Model.Post.SanitizedContent</p>
            <div class="row post-info note">
                <hr class="post-info" />
                <span class="pull-left">
                    before @Html.DisplayFor(x => x.Post.CreatedOn) category: <a href="#">@Model.Post.Category</a> author: <a href="#">@Model.Post.Author</a>
                </span>
            </div>

            <hr class="post-info" />

            <div>
                <i class="glyphicon glyphicon-tag"></i>
                @foreach (var tag in Model.Post.Tags)
                {
                    <a href="#" class="label label-default">@tag</a>
                }

                @Ajax.ActionLink("Answer", "CreateAnswer", null,
                                                new AjaxOptions
                                                {
                                                    UpdateTargetId = "addAnswerToPost",
                                                    LoadingElementId = "addAnswerToPostLoading",
                                                    HttpMethod = "GET",
                                                    InsertionMode = InsertionMode.Replace,
                                                    OnSuccess = "OnAjaxAnswerSuccess"
                                                }, new { @class = "pull-right btn btn-primary btn-sm" })
            </div>
        </div>
    </div>
</div>
<div id="addAnswerToPost" style="display: none"></div>
<div id="addAnswerToPostLoading" style="display: none">
    <div class="circle"></div>
    <div class="circle1"></div>
</div>
<div class="container col-md-12">
    <h4>Answers</h4>
    <hr class="style" />
</div>
<div class="panel panel-default">
    @foreach (var answer in Model.Answers)
    {
        @Html.Partial("_AnswersOnPost", answer)
    }
</div>

<nav class="text-center">
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
            {
        <li>
            <a href="/Posts/Details/@(Model.Post.EncodedId)?page=@(Model.CurrentPage - 1)" aria-label="Previous">
                <span aria-hidden="true">&larr;Previous</span>
            </a>
        </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
            {
                var className = string.Empty;
                if (Model.CurrentPage == i)
                {
                    className = "active";
                }
        <li class="@className"><a href="/Posts/Details/@(Model.Post.EncodedId)?page=@i">@i</a></li>
        }
        @if (Model.CurrentPage < Model.TotalPages)
        {
        <li>
            <a href="/Posts/Details/@(Model.Post.EncodedId)?page=@(Model.CurrentPage + 1)" aria-label="Next">
                <span aria-hidden="true">Next &rarr;</span>
            </a>
        </li>
        }
    </ul>
</nav>

@section Scripts{
    <script>
        $("div[data-action='up'").click(function () {
            var id = $(this).attr("data-id");
            var subject = $(this).attr("data-subject");
            voteClick(id, 1, subject);
        });
        $("div[data-action='down'").click(function () {
            var id = $(this).attr("data-id");
            var subject = $(this).attr("data-subject");
            voteClick(id, -1, subject);
        });

        function voteClick(id, voteType, subject) {
            $.post("/Votes/Vote", { subjectId: id, voteType: voteType, subjectType: subject },
           function (data) {
               var newVotesCount = data.Count;
               $("div[data-subject='" + subject + "'][data-action='votesCount'][data-id='" + id + "']").html(newVotesCount)
           });
        }
    </script>
    <script>
        var selector;
        function OnAjaxAnswerSuccess(data) {
            $("#addAnswerToPost").show(1000);
            $('html, body').animate({
                scrollTop: $("#addAnswerToPost").offset().top
            }, 2000);
        }

        function OnAjaxCommentBegin(data) {
            $(selector).hide(1000);
        }

        function OnAjaxCommentSuccess(data) {
            $(selector).hide(1000);
            selector = "#" + $(this).attr("updateTargetId");
            console.log(selector);
            $(selector).show(1000);
            $("body").animate({
                scrollTop: $(selector).offset().top
            }, 2000);
        }

        function hideAddAnswer() {
            $("#addAnswerToPost").hide(1000);
        }

        function hideAddComment() {
            $(selector).hide(1000);
        }
    </script>
}