@model StackFaceSystem.Web.ViewModels.Posts.DetailsViewModel
<hr class="style" />
<h3>@Model.Title</h3>
<hr class="style" />

<div class="row">

    <div class="col-md-2">
        <div class="forum-well text-center">
            <a href="#"><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <div class="row">@Model.Rating</div>
            <a href="#"><i class="glyphicon glyphicon-thumbs-down"></i></a>
        </div>
    </div>

    <div class="col-md-10">
        <p>@Model.SanitizedContent</p>
        <div class="row post-info note">
            <hr class="post-info" />
            <span class="pull-left">
                before @((DateTime.UtcNow - Model.CreatedOn).Hours) in <a href="#">@Model.Category</a> author <a href="#">@Model.Author</a>
            </span>
        </div>
        <hr class="post-info" />
        <div class="tags">
            <i class="glyphicon glyphicon-tag"></i>
            @foreach (var tag in Model.Tags)
            {
                <a href="#" class="label label-default">@tag</a>
            }
        </div>
        <a href="#" class="pull-right btn btn-primary btn-sm"><i class="glyphicon glyphicon-comment"></i>  Answer</a>
    </div>
</div>
<div class="container col-md-12">
    <h4>Answers</h4>
    <hr class="style" />
</div>

@foreach (var answer in Model.Answers)
{
    @Html.Partial("_AnswersOnPost", answer)
}
