@model StackFaceSystem.Web.ViewModels.Posts.PostsViewModel
<div class="list-group">
    <a href="@Model.Url" class="list-group-item row">
        <div class="col-xs-2 hidden-xs">
            <div class="forum-well text-center">
                <div class="row font-size-24">@Model.Votes</div>
                <div class="row">@(Model.Votes == 1 ? "vote" : "votes")</div>
            </div>
        </div>

        <div class="col-xs-2 hidden-xs">
            <div class="forum-well text-center">
                <div class="row font-size-24">@Model.AnswersCount</div>
                <div class="row">@(Model.AnswersCount == 1 ? "answer" : "answers")</div>
            </div>
        </div>
        <div class="col-xs-8">
            <h4 class="list-group-item-heading">@Model.Title</h4>
            <div class="list-group-item-text">
                <div class="note-footer">
                    before @((DateTime.Now - Model.CreatedOn).Hours) hours in @Model.Category by @Model.Author
                </div>
                <div>
                    <i class="glyphicon glyphicon-tags"></i>
                    @foreach (var tag in Model.Tags)
                    {
                        <span class="label label-default">@tag</span>
                    }
                </div>
            </div>
        </div>
    </a>
</div>
